{% extends 'base.html.twig' %}

{% block title %}Articles Index{% endblock %}

{% block content %}
    <h2>Available Articles</h2>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('article_show', {category: category}) }}">{{ category|capitalize }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
